.about{
    width: 100%;
    margin: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 350px;
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    max-width: 700px;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
    height: 100%;
}

.right .img{
    width: 100%;
    border: 1px solid #333;
}

.right .top{
    grid-column: 1/ span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 6;
}

img{
    width: 20rem;
    height:18rem;
}

.right .bottom{
    grid-column: 4/ span 9;
    grid-row: 1;
    z-index: 5;
}

.about .left .shrug-emoji {
    font-size: 50px;
}
.about .left .shrug-emoji:hover {
    transition: ease-in-out 0.5s;
    animation: shrugAnimation 1s infinite ease-in-out;
};

@keyframes shrugAnimation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(15deg); }
    20% { transform: rotate(-10deg); }
    30% { transform: rotate(10deg); }
    40% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}
