label{
    color: whitesmoke;
    margin-bottom: 0.5rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-content: center;
    
}

form input, form textarea{
    padding: 10px 18px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    color: #f4f4f4;

}