.mask{
    width: 100%;
    height: 100vh;
    position: relative;
}
.intro-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.75;
}
.hero{
    height: 100%;
    width: 100%;
}

.hero .content{
    position: absolute;
    transform: translateY(-50%,-50%);
    z-index: 1000;
    color: white;
    top: 45%;
    left: 10%;
    right: 60%;
    text-align: center;
}

.hero .content .overlay{
    padding: 2rem;
    font-size:xx-large;
}

.hero .content h1{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
    margin-bottom: 100;
}

.hero .content p{
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.content .btn{
    margin: 1rem 0.2rem;
    margin-top: 2rem;
}
.wave {
    display: inline-block;
    animation: wave-animation 1.5s infinite;
    transform-origin: 70% 70%;
}
@keyframes wave-animation {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
}